.element__like {
  margin: 0 5px 0 0;
  padding: 0;
  cursor: pointer;
  background-image: url('../../../images/like.svg');
  width: 22px;
  height: 19px;
  border: none;
  background-color: white;
}

.element__like:hover {
  opacity: 50%;
}

@media screen and (max-width: 896px) {
  .element__like {
    margin: 0;
  }
}
