.profile {
    padding: 40px 0 0 ;
    box-sizing: border-box;
    margin: 0 auto;
    max-width: 880px;
    width: 100%;
    display: grid;
    grid-template-columns: 120px 366px 1fr;
    grid-template-rows: 120px;
    grid-template-areas:
    'avatar' 'profile__intro' 'button__add';
}