.element__title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #000;
  font-size: 24px;
  line-height: 29.05px;
  font-style: normal;
  font-weight: 900;
  max-width: 190px;
}

@media screen and (max-width: 1152px) {
  .element__title {
    max-width: 175px;
  }
}

@media screen and (max-width: 896px) {
  .element__title {
    max-width: 140px;
    font-size: 17px;
    line-height: 23.05px;
  }
}

@media screen and (max-width: 544px) {
  .element__title {
    max-width: 190px;
    font-size: 24px;
    line-height: 29.05px;
  }
}
