.logo {
    background-image: url('../../images/Vector.png');
    background-repeat: no-repeat;
    margin: 0;
    padding: 0 0 41px;
    max-width: 142px;
    min-height: 33px;
}

@media screen and (max-width: 320px) {
    .logo {
        padding-bottom: 31.6px;
    }
}