.profile__avatar {
 
  object-fit: cover;
  border-radius: 50%;
  max-width: 120px;
  max-height: 120px;
  grid-area: 'avatar';
}

@media screen and (max-width: 896px) {
  .profile__avatar {
    max-width: 190px;
    max-height: 100px;
  }
}

@media screen and (max-width: 544px) {
  .profile__avatar {
    max-width: 120px;
    max-height: 120px;
  }
}
