.profile__intro {
  margin: 0 0 16px;
  padding: 0;
  max-width: 336px;
  max-height: 39px;
  position: relative;
  grid-area: 'profile__intro';
}

@media screen and (max-width: 544px) {
  .profile__intro {
    margin: 22.25px 0 0 0;
    max-width: 320px;
  }
}
