.button__edit {
  margin: 0 0 0 18px;
  padding: 0;
  border: 1px solid #fff;
  box-sizing: border-box;
  width: 24px;
  height: 24px;
  object-fit: cover;
  background-color: black;
  position: absolute;
  right: 0;
  top: 15px;
}

.button__edit:hover {
  opacity: 60%;
}

@media screen and (max-width: 896px) {
  .button__edit {
    margin: 0 0 0 10px;
    width: 20px;
    height: 20px;
  }
}

@media screen and (max-width: 544px) {
  .button__edit {
    width: 18px;
    height: 18px;
    top: 8px;
    right: -30px;
  }
}
